[submodule "identity-frontend"]
	path = identity-frontend
	url = https://github.com/open-source-services/identity-frontend.git
[submodule "identity-backend"]
	path = identity-backend
	url = https://github.com/open-source-services/identity-backend.git
